.ChatBody{
    margin-top: 2rem;
    max-height: 60vh;
    overflow-y: auto;
}

.ChatBody .collection {
    padding: 1rem 0;
}

.ChatBody .collection p{
    overflow: hidden;
}

.ChatBody p{
    display: flex;
    justify-content: space-between;
}

.ChatBody .collection p:nth-child(even){
    max-width: 100%;
    background-color: rgb(241, 241, 241);
}

.ChatBody .collection p:first-child button{
    display: none;
}