html{
  background-color: rgb(200, 200, 200);
}

body{
  max-width: 1170px;
  margin: 0 auto;
  height: auto;
}

*{
  margin: 0;
  padding: 0;
}

@media (max-width: 992px) {
  html{
    background-color: #fff;
  }
}